/* start home section */
@media (max-width:640px){
    .header-item .video{
        flex-direction: column;
        row-gap: 25px;
    }
}
@media (max-width:1024px){
    .header .inner{
        flex-direction: column;
        row-gap: 25px;
    }
    .header .inner .header-img{
        order: -1;
    }
    .header .container .header-item {
        text-align: center;
    }
    .header-item .video .btn{
        border-radius: 50px;
    }
    .header-item .video{
        width: 100%;
    }
    .header-item .video{
        justify-content: center;
        column-gap: 15px;
    }
    .header .navbar .nav-link{
        display: none;
    }
    .header .navbar .fa-bars{
        display: block;
    }
    .header .navbar .fa-bars:hover +.nav-link{
        display: block;
    }
    .header .navbar .nav-link {
        order: 6;
    }
    .navbar .nav-link ul li{
        flex-basis: 100%;
    }
    .header .navbar .logo{
        flex-basis: 85%;
    }
}
@media (max-width:640px){
    .header .navbar .logo{
        flex-basis: 70%;
    }
}
@media (min-width:1024px) and (max-width:1285px){
    .header-item .video{
        width: 90%;
    }
    .header-item .video .btn{
        padding: 10px 12px;
    }
}
/* end home section */
/* start chefs section */
@media (max-width:640px){
    #chefs .chefs-content{
        row-gap: 25px;
    }
    #chefs .chefs-content .chefs-item{
        flex-basis: 100%;
    }
    .main-heading h2 {
        font-size: 30px;
    }
}
@media (min-width:641px) and (max-width:1024px){
    #chefs .chefs-content{
        row-gap: 25px;
    }
    #chefs .chefs-content .chefs-item{
        flex-basis: 48%;
    }
}
/* @media (min-width:641px) and (max-width:789px){
    #chefs .chefs-content .chefs-item .img-s::before{
        bottom: -16%;
    }
}
@media (min-width:790px) and (max-width:1023px){
    #chefs .chefs-content .chefs-item .img-s::before{
        bottom: -9%;
    }
}
@media (min-width:1024px) and (max-width:1280px){
    #chefs .chefs-content .chefs-item .img-s::before{
        bottom: -15%;
    }
}
@media (max-width:403px) {
    #chefs .chefs-content .chefs-item .img-s::before{
        bottom: -15%;
    }
}
@media (max-width:318px) {
    #chefs .chefs-content .chefs-item .img-s::before{
        bottom: -25%;
    }
}
@media (max-width:264px) {
    #chefs .chefs-content .chefs-item .img-s::before{
        bottom: -35%;
    }
}
@media (max-width:217px) {
    #chefs .chefs-content .chefs-item .img-s::before{
        bottom: -40%;
    }
}
@media (max-width:223px) {
    #chefs .chefs-content .chefs-item .img-s::before{
        bottom: -45%;
    }
}
@media (max-width:198px) {
    #chefs .chefs-content .chefs-item .img-s::before{
        bottom: -50%;
    }
} */
/* end chefs section */
/* start gallery section */
@media (max-width:640px){
    .gallery-content{
        grid-template-columns:1fr;
        grid-template-rows:repeat(7,auto);
        grid-template-areas:"img-1"
        "img-3"
        "img-4"
        "img-5"
        "img-2"
        "img-6"
        "img-7";
    }
}
@media (min-width:641px) and (max-width:1024px){
    .gallery-content{
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(4,auto);
        grid-template-areas: "img-1 img-2"
        "img-3 img-2"
        "img-4 img-2"
        "img-4 img-6"
        "img-4 img-7"
        "img-5 img-7"
        "img-5 .";
    }
    .img-4{
        height: 100%;
    }
    .img-5{
        height: 100%;
    }

}
/* end gallery section */
/* start contact section */
@media (max-width:640px){
    #contact .contact-item{
        text-align: center;
    }
    #contact .contact-item .item{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
}
@media (max-width:768px){
    #contact .contact-item .item{
        flex-basis: 100%;
    }
}
@media (max-width:1024px){
    #contact form input.active{
        flex-basis: 100%;
    }
}
@media (min-width:768px) and (max-width:1024px){
#contact .contact-item .item p span{
    font-size: 14px;
}
}
@media (min-width:992px){
    .contact-content .frame{
        padding-top: 30%;

    }
}
/* end contact section */
/* start footer section */
@media (max-width:640px){
    .footer-center input{
        flex-basis: 100%;
    }
    .footer-center button{
        margin: 0 auto;
    }
}
@media (max-width:768px){
    .footer .container{
        row-gap: 20px;
    }
    .footer .footer-left ,
    .footer .footer-center ,
    .footer .footer-right{
        flex-basis: 100%;
    }
    .footer-center form{
        row-gap: 15px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .footer-center input{
        flex-basis: 82%;
    }
    .footer .footer-left{
        flex-basis: 49%;
    }
    .footer .footer-right{
        flex-basis: 49%;
    }
    .footer .footer-center{
        flex-basis: 100%;
        order: 1;
    }
}
@media (min-width:1025px) and (max-width:1300px){
    .footer-center input{
        flex-basis: 71%;
    }
}
/* end footer section */